In [4]:
# Import Libraries and Define Auxiliary Functions
# We will import the following libraries.

# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

#Data Analysis
#Load Space X dataset, from last section.

df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

#Identify and calculate the percentage of the missing values in each attribute
df.isnull().sum()/len(df)*100

#Identify which columns are numerical and categorical:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [6]:
# TASK 1: Calculate the number of launches on each site
# The data contains several Space X launch facilities: Cape Canaveral Space Launch Complex 40 VAFB SLC 4E , Vandenberg Air Force Base Space Launch Complex 4E (SLC-4E), Kennedy Space Center Launch Complex 39A KSC LC 39A .The location of each Launch Is placed in the column LaunchSite
# Next, let's see the number of launches for each site.
# Use the method value_counts() on the column LaunchSite to determine the number of launches on each site:

# Apply value_counts() on column LaunchSite
launch_counts = df['LaunchSite'].value_counts()

print("Number of launches on each site:")
print(launch_counts)

#Each launch aims to an dedicated orbit, and here are some common orbit types:
#LEO: Low Earth orbit (LEO)is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less (approximately one-third of the radius of Earth),[1] or with at least 11.25 periods per day (an orbital period of 128 minutes or less) and an eccentricity less than 0.25.[2] Most of the manmade objects in outer space are in LEO [1].

Number of launches on each site:
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [7]:
# TASK 2: Calculate the number and occurrence of each orbit
# Use the method .value_counts() to determine the number and occurrence of each orbit in the column Orbit

## Apply value_counts on Orbit column
orbit_counts = df['Orbit'].value_counts()
print("Number and occurrence of each orbit:")
print(orbit_counts)

Number and occurrence of each orbit:
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

In [10]:
# TASK 3: Calculate the number and occurence of mission outcome of the orbits
# Use the method .value_counts() on the column Outcome to determine the number of landing_outcomes.Then assign it to a variable landing_outcomes.

# landing_outcomes = values on Outcome column
landing_outcomes = df['Outcome'].value_counts()

print("Number and occurrence of mission outcomes for landing:")
print(landing_outcomes)

for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)
    
#We create a set of outcomes where the second stage did not land successfully:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

Number and occurrence of mission outcomes for landing:
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64
0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

In [15]:
# TASK 4: Create a landing outcome label from Outcome column
# Using the Outcome, create a list where the element is zero if the corresponding row in Outcome is in the set bad_outcome; otherwise, it's one. Then assign it to the variable landing_class:

# Define the set of bad outcomes
bad_outcomes = {'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

# Create a list where the element is zero if the corresponding row in Outcome is in the set bad_outcome; otherwise, it's one
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in df['Outcome']]

# Assign it to the variable landing_class
df['Landing_Class'] = landing_class

# Print the DataFrame to verify the addition of the new column
print(df)

#This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the first stage did not land successfully; one means the first stage landed Successfully
df['Class']=landing_class
df[['Class']].head(8)
df.head(5)

#We can use the following line of code to determine the success rate:
df["Class"].mean()

#We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.
df.to_csv("dataset_part_2.csv", index=False)

    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
..           ...         ...            ...           ...   ...           ...
85            86  2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87  2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88  2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89  2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90  2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Landing_Class  Class
0     1.0            0  B0003  -80.577366  28.561857              0      0
1     1.0            0  B0005  -80.577366  28.561857              0      0
2     1.0            0  B0007  -80.577366  28.561857              0      0
3     1.0            0  B1003 -120.610829  34.632093              0      0
4     1.0            0  B1004  -80.577366  28.561857              0      0
..    ...          ...    ...         ...        ...            ...    ...
85    5.0            2  B1060  -80.603956  28.608058              1      1
86    5.0            2  B1058  -80.603956  28.608058              1      1
87    5.0            5  B1051  -80.603956  28.608058              1      1
88    5.0            2  B1060  -80.577366  28.561857              1      1
89    5.0            0  B1062  -80.577366  28.561857              1      1

[90 rows x 19 columns]

In [18]:
import pandas as pd

# Assuming you have sample data in a DataFrame named 'data'
data = pd.DataFrame({'landing_outcomes': ['success', 'failure', 'none', 'success', 'none']})

# Count the number of landing outcomes with a value of 'none'
none_count = data['landing_outcomes'].value_counts()['none']

# Print the result
print("Number of landing outcomes with a value of 'none':", none_count)

Number of landing outcomes with a value of 'none': 2